
@import 'vuetify/styles/main.sass';



$main-color : rgb(6, 145, 192);
$main-color-dark : rgb(3, 82, 108);

.irsa {
    font-family: IRANSans !important;
    
}

* {
    font-family: IRANSans;
}

.line-height-sm{
    line-height: 1.8;
}

.line-height-md{
    line-height: 2;
}

button {
    font-family: IRANSans !important;
}

.text-main{
    color: $main-color;
}


.text-main-dark{
    color: $main-color-dark ;
}

.bg-main{
    background-color: $main-color ;
    color: white;
}

.bg-main-dark{
    background-color: $main-color-dark ;
    color: white;
}

.rounded-main{
    border-radius: 15px !important;
}

.rtl{
    direction: rtl;
}

.inner-shadow-1 {
    border-top: solid rgba(var(--v-theme-shadow-inner-dark),0.3) 1px !important;
    box-shadow:inset rgba(50, 50, 93, 0) 0px 50px 100px -20px,inset rgba(var(--v-theme-shadow-inner-dark), 0.15) 0px 30px 60px -30px !important;

   
}

.inner-shadow-md {
    border-top: solid rgba(var(--v-theme-shadow-inner-dark),0.3) 1px !important;

    @media (min-width: 960px) {
        box-shadow:inset rgba(50, 50, 93, 0) 0px 50px 100px -20px,inset rgba(var(--v-theme-shadow-inner-dark), 0.15) 0px 30px 60px -30px !important;

      }
}


.inner-shadow-reverse {
    box-shadow:inset rgba(50, 50, 93, 0.05) 0px 50px 100px -20px,inset rgba(129, 129, 139, 0.1) 0px -30px 60px 0px !important;
  
}


.shadow-1 {
    box-shadow: rgba(var(--v-theme-shadow1), 0.05) 0px 30px 30px -30px !important;
}

.shadow-2 {
    box-shadow: rgba(50, 50, 93, 0.05) 0px 25px 40px -20px, rgba(0, 0, 0, 0.17) 0px 15px 30px -10px !important;
}
.shadow-3 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 40px -10px !important;
}
.shadow-t {
    box-shadow: rgba(0, 0, 0, 0.03) 0px 25px 40px -20px, rgba(0, 0, 0, 0.059) 0px 15px 30px 10px !important;
}



.text-sm{
    font-size: 15px !important;
}
.text-md{
    font-size: 18px !important;
}
.text-md-1{
    font-size: 14px !important;
}

.text-xs{
    font-size: 13px !important;
}
.text-xs-1{
    font-size: 11px !important;
}
.text-xs-2{
    font-size: 10px !important;
}
.text-xxs{
    font-size: 8px !important;
}

* {
    /* Apply the custom letter-spacing to all v-btn components */
    letter-spacing: 0px !important; /* Adjust the value as needed */
  }




.rounded-tr-xl{
    border-radius: 0px 20px 0px 0px !important;
}




.bg-glass{
    /* From https://css.glass */
background: rgba(var(--v-theme-auto), 0.8) !important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2px);
}

.bg-gradient-glass{
    /* From https://css.glass */
background: rgba(0, 0, 0, 0) ;
background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 30%,rgba(0, 0, 0, 0.4) 80%, rgba(0,0,0,0.0) 100%) !important;

// backdrop-filter: blur(2px);
}
.bg-blue-circle{
    background-color: #004ac1 !important;
    // background-image: linear-gradient(315deg, #0382f1 0%, #004ac1 74%) !important;
    background-image:radial-gradient(ellipse 50% 200% at 80% 0%, #0382f1 89.9%, #00000000 90%)!important;

}

.bg-blue-gradient{
    background-color: #004ac1 ;
    background-image: linear-gradient(315deg, rgb(var(--v-theme-primary-lighten-3)) 0%, #0f4efc 74%) !important;

}

.bg-blue-gradient-2{
    background-color: #1b2845 ;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%) !important;
    
}
.bg-yellow-gradient{
    background-color: #ffa200 ;
    background-image: linear-gradient(315deg, rgba(var(--v-theme-secondary1)) 0%, rgba(var(--v-theme-secondary2)) 74%) !important;
    
}
.bg-blue-gradient-3{
    background-color: #004ac1 ;
    background-image: linear-gradient(130deg, rgba(var(--v-theme-primary-lighten-4)) 0%, #0f6afc 74%) !important;
}
.bg-green-gradient {
    background-color: rgb(2, 160, 99) !important;
    // background-image: linear-gradient(315deg, #01ba0b 0%, rgb(2, 160, 99) 74%) !important;
    background-image:radial-gradient(ellipse 50% 200% at 80% 0%, #01ba0b 89.9%, #00000000 90%)!important;

  }

.custom-rounded-1{
    border-radius: 15px !important;
}





.custom-bg-blue{
    background-color: #0473e9 !important;

}



.responsive-card {
    width: 160px; /* Default width for all screen sizes */
   /* Extra large screen (xl) and above */
  
    /* Medium screen (md) and above */
    @media (min-width: 960px) {
      width: 250px; /* Half width on medium screens (md) */
    }
  }

.responsive-image {
    height: 210px !important; /* Default width for all screen sizes */
   /* Extra large screen (xl) and above */
  
    /* Medium screen (md) and above */
    @media (min-width: 960px) {
        height: 250px !important; /* Half width on medium screens (md) */
    }
  }



.swiper-slide { width: auto  !important; }

.no-hover-effect:hover {
    background-color: inherit !important; /* Use !important to override Vuetify styles */
    color: inherit !important;
  }

.rounded-2lg{
    border-radius: 20px !important;
}

.rounded-2xl{
    border-radius: 33px !important;
}